.help span{
float: right;
margin-right: 250px;
}
.help p{
    padding: 5px;
}
.help  { 
background-color: #035e5f;
display: inline-block;
color: white;
text-align: center;
justify-content: space-between;
}
.Home .carousel{
    max-height: 350px;
}

 .user, .Search{
    color: #035e5f;
}
 .button{
    color: #035e5f;
}
.menu {
    justify-content: space-around;
}
.carousel .control-dots{
    margin: 0 0 150px 0 !important;
    display: flex;
    flex-direction: column;
 
}

.dot{
    margin: 10px !important;
    background-color: #035e5f !important;
}
.discover{
    color: #035e5f;
    text-decoration: underline;
    cursor: pointer;
}
.order ol li .header{
    color: #035e5f;
    
}
.order ol li .content{
    margin-top: -10px;
    color: gray
}
.order ol li {
    padding: 0 10px;
    
    
}
.custom-counter {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .custom-counter li {
    counter-increment: step-counter;
    margin-bottom: 10px;
    position: relative;
    padding-left: 35px;
  }
  .custom-counter li .header{
    color: #035e5f;
  }
  .startfund{
    align-items: center;
    text-align: center;
  }
  .startfund .ui.button{
    background-color: #035e5f;
    color: #fff;
   
  }
  
  .custom-counter li::before {
    position: absolute;
    left: -5px;
    content: counter(step-counter);
    margin-right: 5px;
    background-color: rgb(255, 255, 255);
    color:#035e5f;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 3px;
  }
.fund{
    background-color: #edf7f9;
}
.fund h3{
    text-align: center;
    padding: 20px;
}

.ui .card .image{
    width: 90%;
    margin: 10px 0;
}
.ui .card{
    align-items: center;
    text-align: start;
}
.ui .card .content{
    


    border-top: none !important;
}

  blockquote:before {
    color:#035e5f;
    content: open-quote;
    font-size: 6em;
    vertical-align: -0.4em;
  }
  .Cardd .testi{
    display: flex;
    cursor: pointer;
    /* border: 1px solid red !important; */
    margin-left: 80px !important;
  }
  .Cardd .Div .card{
    background-color:#edf7f9;
  }
  blockquote:after {
    visibility: hidden;
    content: close-quote;
  }
.ui .card .description{
    
    border-bottom: 2px solid rgba(34,36,38,.1) !important;
    padding: 10px;
}
.ui .card .extra.content{
    text-align: start !important;
    align-items:start !important;
    
    
}
.extra b{
    color: #035e5f;
}
.extra .ui.grid{
    display: flex;
    margin: 10px;

}


.Two{
    margin-left: 30px;
    border: 1px solid grey;
}
.creedh3{
    text-align: center;
}

.first li{
    
    float: right;
    list-style: none;
}
.first li p{
    overflow-wrap: break-word;
    word-wrap: break-word;

}

.first img{
    float: left;
    height: 50px;
}
.need{
    padding: 10px;
    background-color: #edf7f9;
    justify-content: center !important;
    align-items: center !important;
    display: flex !important;
}
.need .header{
   margin:10px 30px !important;
}
.need .button{
    background-color: #035e5f !important;
    color: #fff !important;
}
.Give{
    margin: 30px 0;
}
.getit{
    background-color: black;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.svgs{
    height: 60px;
    padding:6px 10px;
}
.pSvg{
    display: inline-block;

}
.pSvg img{
    float: left;
    filter: invert(30%) sepia(19%) saturate(2267%) hue-rotate(134deg) brightness(91%) contrast(98%);

}
.pSvg2 img{
    float: right;
    filter: invert(30%) sepia(19%) saturate(2267%) hue-rotate(134deg) brightness(91%) contrast(98%);

}
.pSvg p b,.pSvg2 p b{
    color: #035e5f;
}
.foot li{
    list-style: none;
}
.foot li b{
    color: #035e5f;
}
.foots{
    display: flex !important;
    justify-content: space-between;
}
.foots li{
    float:left;
    list-style: none;
    padding-left: 20px;

}


.pSvg2{
    display: inline;
    text-align: right;
    align-items: right;
}
.collect img{
    height: 260px;
}
.mobile img{
    margin: 0 50px;
    height: 200px;
}
.scan img{
    height: 200px;
}
.just{
    background-color: #035e5f;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    margin: 15px;
    color: #fff;
    
}

.just  img{
    width: 50px;
    height: 65px;
    position: absolute;
    left: 41%;
    filter: invert(98%) sepia(2%) saturate(397%) hue-rotate(226deg) brightness(117%) contrast(100%);

}
.social .icon{
    background-color: #035e5f;
    color: #fff;
    margin-top: 30px;
    cursor: pointer;
    
}
.social .button{
    background-color: #035e5f !important;
    color: #fff !important;
}
.MainFooter{
    margin: 10px 0;
}
hr{
    margin: 20px 0;
}
.Cardd{
    
    margin: 10px 0;
}
.Cardd .carousel .ui.grid{
    
    margin-left: 5rem !important;
    
}
.Cardd  .Div{
    margin-top: 10px  !important;
    margin-bottom: 20px !important;
}
.Cardd .carousel .thumbs-wrapper{
    display: none;
    
}


@media screen and (min-width: 480px) {
    .help {
      display: inline-block;
    }

}
@media screen and (max-width : 600px){
    .carousel .control-dots{
        display: flex;
        flex-direction: column;
        margin-bottom: 50px !important;
    }
}